.App {
  text-align: center;
  background: rgb(247,247,247);
  height: 100vh
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: #FFE500;
  color: black;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-logo{
  color: #35BBF0;
  padding: 5px 30px;
}
